*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.field {
    margin-bottom: 20px;
    color: navajowhite;
}

.back {
    width: 72px;
    height: 38px;
}

button {
    color: black;
    border-bottom: 1px solid black;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px 15px;
    cursor: pointer;
    margin: 20px;
}

body {
    background: url(../images/fon10.jpg);
}

.logo {
    backdrop-filter: blur(3px);
}

.header .logo img {
    height: 17%;
    width: 7%;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 40px;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 60px 100px;
    background: rgba(26, 25, 25, 0.3);
    backdrop-filter: blur(3px);
    color: black;
}


input {
    margin-bottom: 25px;
    background: transparent;
    height: 25px;
    border: none;
    border-bottom: 1px solid white;
    padding-left: 20px;
    color: black;
}

.name {
    width: 100%;

}

.mail {
    width: 100%;
}

.phone {
    width: 100%;
}

*::placeholder {
    color: black;
}

.text_area {
    display: flex;
    flex-direction: column;

}

.text_area p {
    padding: 5px;
}

.message {
    font-size: 24px;
}

textarea {
    background: transparent;
    color: white;
    border-radius: 5px;
    padding: 5px;
}



.send {
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.send a {
    color: black;
    text-decoration: none;
}







