/*Селектор тегов*/

p {
    font-size: 22px;
    line-height: 100%;
}

h2 {
    font-size: 22px;
    margin-bottom: 30px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    text-align: left;
}

.fixed {
    display: flex;
    justify-content: space-around;
    position: fixed;
    right: 0;
    bottom: 0;

}

.chat img{
    width: 80px;
    height: 80px;
    border-radius: 40px;

}

.record img {
    height: 60px;
    padding: 10px;
}



header {
    background-color: #0e1b22;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    width: 100px;
    height: 100px;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}
.logo img {
    width: 100%;
    height: auto;
    margin-right: 10px;
}

nav ul {
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    flex-wrap: wrap;
    margin-left: 20px;
    padding: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}
nav ul li a:hover {
    text-decoration: underline;
}

.burger {
    display: none;
    position: relative;
    z-index: 10;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;

}

.burger span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: white;
}

.burger::before, .burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: white;
    transition: all 0.3s ease 0s;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}


.burger.active span {
    transform: scale(0);
}

.burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}


.burger.active::after {
    top: 50%;
    transform: rotate(45deg) translate(0, 50%);
}


.container {
    font-family: Arial;
    margin: 0 auto;
    margin-left: 50px;
}

.menu {
    margin-left: 250px;
}

.main {
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment:fixed;
    font-family: Arial;
    padding: 15px;
    background: url("images/fon5.jpg");
}

.line {
    border-left: 3px solid #444;
    margin-bottom: 10px;
}


section h2 {
    text-align: center;
    margin-bottom: 22px;
}

.tab {
    margin-left: 20px;
}

.centre {
    text-align: center;
}

li {
    font-size: 18px;
}


.left {
    text-align: center;
    padding-top: 20px;
}

.fon {
    background: url("../images/fon5.jpg");
    width: 100%;
}

.price-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 250%;
    max-width: 1400px;
    max-height: 300px;
    padding: 20px;

}
.price-item {
    flex: 1 1 calc(50% - 40px);
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}
.price-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.price-item h3 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #333;
}
.price-item p {
    margin: 0;
    font-size: 1.2em;
    color: #666;
}


.footer {
    background-color: #0e1b22;
    color: white;
    padding: 10px;
    text-align: center;
}

.footer .contacts h3 span {
    font-weight: bold;
}


.footer .contacts,
.footer .time-place {
    display: inline-block;
}

.footer .contacts {
    margin-right: 7%;
}

.footer .time-place {
    margin-left: 7%;
}

h3 {
    margin-bottom: 20px;
}




.large{
    font-size: 20px;
}


.fon {
    background-color: white;
    color: black;
}

.list-1 {
    list-style-type: none;
}

.bold {
    font-weight: bold;
}


.pageView{
    width: 100%;
    height: 350px;
}



.item {
    background-color: #b9b7b7;

    display: inline-block;
    width: 33.3%;
    margin-left: 6px;
    vertical-align: top;
}

