
body {
    background: url("../images/fon10.jpg");
    width: 100%;
    text-align: left;
}






.header {
    background-color: #0e1b22;
    color: #fff;
    width: 100%;
    height: 120px;
    display: grid;
    grid-template-columns: 1fr 6fr;

}



.menu {

}

.header .logo img {
    width: auto;
    height: 53%;
    padding-top: 10px;
    padding-left: 20px;
    border-radius: 40px;
}

.header-text {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
    padding-right: 100px;
}



main {

    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.barber-works {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.barber {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    width: calc(45% - 2rem);
    transition: transform 0.3s, box-shadow 0.3s;
}

.barber:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.barber h2 {
    margin-top: 0;
    color: #444;
}

.works {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.works img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.3s;
}

.works img:hover {
    transform: scale(1.05);
}



.footer {
    background-color: #0e1b22;
    color: white;
    padding: 10px;
    text-align: center;
}

.footer .contacts h3 span {
    font-weight: bold;
}


.footer .contacts,
.footer .time-place {
    display: inline-block;
}

.footer .contacts {
    margin-right: 7%;
    text-align: center;
}

.footer .time-place {
    margin-left: 7%;
    text-align: center;
}

