@media (max-width: 2560px) {
    .header-text {
        font-size: 30px;
    }

    .img_left, .img_right {
        height: 500px;
        width: 400px;
    }

    .header {
        height: 160px;
        width: auto;
    }

    .logo img {
        height: 22%;
        width: auto;
    }

    .footer {
        padding: 30px;
        font-size: 22px;
    }
}

@media (max-width: 1920px) {
    .header-text {
        font-size: 30px;
    }

    .img_left, .img_right {
        height: 450px;
        width: 350px;
    }

    .header {
        height: 120px;
        width: auto;
    }

    .logo img{
        height: 43%;
        width: auto;
    }

    .footer {
        padding: 25px;
        font-size: 20px;
    }
}

@media (max-width: 1440px) {
    .header-text {
        font-size: 30px;
    }

    .header {
        height: 120px;
    }

    .header .logo {
        height: 120px;
        width: auto;
    }

    .img_left, .img_right {
        height: 400px;
        width: 300px;
    }

    .footer {
        padding: 20px;
        font-size: 18px;
    }
}

@media (max-width: 1280px) {
    .header-text {
        font-size: 28px;
    }

    .img_left, .img_right {
        height: 350px;
        width: 280px;
    }

    .logo img {
        height: 100%;
        width: auto;
    }

    .footer {
        padding: 18px;
        font-size: 16px;
    }
}

@media (max-width: 1152px) {
    .header-text {
        font-size: 26px;
    }

    .img_left, .img_right {
        height: 320px;
        width: 260px;
    }

    .footer {
        padding: 16px;
        font-size: 15px;
    }
}

@media (max-width: 1024px) {
    .header-text {
        font-size: 24px;
    }

    .img_left, .img_right {
        height: 300px;
        width: 250px;
    }

    .logo img {
        height: 80%;
        width: auto;
    }

    .footer {
        padding: 14px;
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    .header-text {
        font-size: 22px;
    }

    .img_left, .img_right {
        height: 250px;
        width: 200px;
    }

    .footer {
        padding: 12px;
        font-size: 13px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        gap: 20px;
    }

    .contacts, .time-place {
        text-align: center;
    }
}

@media (max-width: 640px) {
    .header-text {
        font-size: 18px;
    }

    .img_left, .img_right {
        height: 200px;
        width: 150px;
    }

    .footer {
        padding: 8px;
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    .header-text {
        font-size: 16px;
    }

    .logo img{
        height: auto;
        width: 100%;
    }

    .img_left, .img_right {
        height: 150px;
        width: 120px;
    }

    .footer {
        padding: 6px;
        font-size: 10px;
    }
}

@media (max-width: 375px) {
    .header-text {
        font-size: 14px;
    }

    .img_left, .img_right {
        height: 130px;
        width: 100px;
    }

    .logo img{
        height: 100px;
        width: auto;
    }


    .footer {
        padding: 5px;
        font-size: 9px;
    }
}

@media (max-width: 320px) {
    .header-text {
        font-size: 12px;
    }

    .img_left, .img_right {
        height: 100px;
        width: 80px;
    }

    .footer {
        padding: 4px;
        font-size: 8px;
    }
}